globalThis.DANCEHUB_API_URL = '${DANCEHUB_API_URL}';
globalThis.DANCEHUB_OIDC_ISSUER = '${DANCEHUB_OIDC_ISSUER}';
globalThis.DANCEHUB_AUTH_MODE = '${DANCEHUB_AUTH_MODE}';
globalThis.DANCEHUB_ENVIRONMENT = '${DANCEHUB_ENVIRONMENT}';
